<table>
  <tr>
    <th>Property</th>
		<th>Room</th>
    <th>Person</th>
    <th>Start date</th>
    <th>End date</th>
		<th>&nbsp;</th>
		<th>&nbsp;</th>
  </tr>

<% for booking in @bookings %>
  <tr class="<%= cycle("even", "odd") %>">
    <td><%= link_to h(booking.room.property.name), 
						property_path(@property) %></td>
		<td><%= link_to h(booking.room.name), 
						property_room_booking_path(@property, @room, booking) %></td>
    <td><%=h booking.person.name if booking.person %></td>
    <td><%=h booking.start_date.to_s :short %></td>
    <td><%=h booking.end_date.to_s :short %></td>
		<td><%= link_to image_tag("date_edit.png", :class => ""), 
						edit_property_room_booking_path(@property, @room, booking), 
						{ :title => "Edit booking" } %></td>
    <td><%= link_to image_tag("date_delete.png", :class => ""), 
						property_room_booking_path(@property, @room, booking), 
						{ :confirm => 'Are you sure?', :method => :delete, :title => "Delete booking" } %></td>
  </tr>
<% end %>
</table>

<%= button_to('New booking', '', 
		:onclick => "window.location = \"#{new_property_room_booking_path(@property, @room)}\";return false") %>
