<h1>Editing room</h1>

<% form_for([@property,@room]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', property_room_path(@property, @room) %> |
<%= link_to 'Back', property_path(@property) %>
